name: Publish To NuGet

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: true
        default: '0.1.0-alpha.1'
  push:
    tags:
      - '*.*.**'

jobs:
  publish:
    name: Publish
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # enable GitHub OIDC token issuance for this job
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Set version
        run: |
          sed -i -e 's/0.1.0-alpha.1/${{ github.event.inputs.version }}/' ./Mockapala.Export.Sqlite.csproj
        working-directory: Mockapala.Export.Sqlite

      - name: Build and Pack
        run: dotnet pack --configuration Release --output artifacts
        working-directory: Mockapala.Export.Sqlite

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      # - name: NuGet push
      #   run: dotnet nuget push artifacts/*.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
      #   working-directory: Mockapala.Export.Sqlite